body {
  margin: 0px 24px;;
  padding: 0 calc((100vw - 1100px) / 2);
  font-family: Lato, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background: url(./assets/images/car.jpg) rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-size: cover;  
  background-attachment: fixed;
  background-position: 35% 0%;  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
