body {
  margin: 0px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background: url(./assets/images/car.jpg) rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-size: cover;  
  background-attachment: fixed;
  background-position: 35% 0%;
  max-height: 100vh;
  overflow-y: scroll;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
